* {
    padding: 0;
    margin: 0;
}

.content-wrapper {
    background-color: #3A5A7A;
    height: 100vh;
    width: 100%;
    display: flex;
}

.game-field {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.game-card {
    display: flex;
    background-color: #A2A5A7;
    width: 250px;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: solid white;
}

img{
    width: 200px;
    height: 200px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button:hover {
    animation: shake 0.6s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }

    25% {
        transform: translate(1px, 1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }

    75% {
        transform: translate(2px, -1px) rotate(2deg);
    }

    100% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
}